body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.budgetCard:hover {
  -webkit-filter: brightness(80%);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
    
}

.progress-bar-vertical {
  width: 100%;
  min-width: 100%;
  height: 0;
  -webkit-transition: height 0.6s ease;
  -o-transition: height 0.6s ease;
  transition: height 0.6s ease;
}

.progress-bar{
  width: 100px;
  min-height: 100px;
  margin-right: 20px;
  float: left;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
  align-items: flex-end;
  -webkit-align-items: flex-end; /* Safari 7.0+ */
}

.card-container {
  min-height: 100px;
  display: flex;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.card-container .card-row{
  padding-left: 0;
  padding-right: 0;
  align-items: center;
  margin: 0;
  width: 100%;
  min-height: 100px;
}



.card-container .card-row .card-col-2 {
  height: min-content; 
  min-height: min-content; 
  justify-content: center; 
  align-items: center; 
  display: flex; 
  width:min-content; 
  padding: 0;
}